@import "variables.css";
@import "animations.css";

.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 65%;
}

.landing-typed-title {
  font-size: 3rem;
  min-height: 5rem;
  min-width: 40%;
  position: relative;
}

.title-separator {
  background: var(--primary-color);
  opacity: 0.15;
  width: 50%;
  margin: -2em 0 3em 0;
  height: 3px;
  border: none;
}

.landing-typed-title__typed {
  position: relative;
}

.landing-typed-title__typed::after {
  content: "";
  position: absolute;
  top: 5%;
  right: -0.5rem;
  width: 4px;
  height: 75%;
  background: var(--primary-color);
  animation: pulse 0.8s infinite;
}

.landing-description {
  margin: 0 0 0.5em 0;
  animation: moveInFromBottom 0.4s ease-out;
  color: var(--faded-primary-color);
}

.landing-navigation {
  margin-top: 3em;
  animation: moveInFromBottom 0.5s ease-out;
}

.landing-navigation ul {
  padding: 0;
}

.landing-navigation-item-arrow {
  padding-left: 0.7em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .landing-container {
    justify-content: flex-start;
    width: 90%;
    padding-top: 1.5rem;
    height: 100%;
  }

  .landing-typed-title {
    font-size: 2rem;
  }

  .landing-description {
    margin: 0 0 1em 0;
  }

  .landing-navigation {
    margin-top: 1.8em;
  }
}
