@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700&display=swap");
@import "variables.css";

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
  font-family: "Hind", sans-serif;
  line-height: 1.6;
  margin: 0;
  background: var(--main-bg);
  color: var(--primary-color);
}

.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 65%;
  padding-top: 0;
}

.landing-typed-title {
  font-size: 3rem;
  min-height: 5rem;
  min-width: 40%;
  position: relative;
}

.landing-title-separator {
  background: var(--primary-blue);
  width: 50%;
  margin: -2em 0 3em 0;
  height: 1em;
  border: none;
}

.landing-typed-title__typed {
  position: relative;
}

.landing-typed-title__typed::after {
  content: "";
  position: absolute;
  top: 5%;
  right: -0.5rem;
  width: 4px;
  height: 75%;
  background: var(--primary-color);
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-description {
  margin: 0 0 0.5em 0;
  animation: moveInFromBottom 0.4s ease-out;
  color: var(--faded-primary-color);
}

.landing-navigation {
  margin-top: 2em;
  animation: moveInFromBottom 0.5s ease-out;
}

.landing-navigation ul {
  padding: 0;
}

.landing-navigation ul li {
  display: inline-block;
  padding: 0 5em 0 0;
  margin: 0;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  color: var(--link-color);
}

.landing-navigation ul li:hover {
  color: var(--hover-link-color);
}

.landing-navigation ul li::after {
  content: "";
  position: absolute;
  background: var(--link-color);
  opacity: 0.7;
  top: 50%;
  right: 15%;
  width: 40%;
  height: 1px;
}

.landing-navigation ul li:last-of-type::after {
  display: none;
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    line-height: 2;
  }
  .landing-container {
    justify-content: flex-start;
    width: 90%;
    padding-top: 1.5rem;
  }

  .landing-typed-title {
    font-size: 2rem;
  }

  .landing-description {
    margin: 0 0 1em 0;
  }

  .landing-navigation {
    margin-top: 0.5em;
    text-align: center;
  }

  .landing-navigation ul li {
    display: block;
    padding: 0.5em 0;
    margin: 0.2em 0;
    background: var(--primary-blue);
  }

  .landing-navigation ul li:hover {
    background: #0269a4;
    color: #fff;
  }

  .landing-navigation ul li::after {
    display: none;
  }
}
