@import "variables.css";

.portfolio-items {
  height: 100vh;
}

.portfolio-items__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.portfolio-item__description-container {
  width: 65%;
  height: 100%;
  padding-left: 1em;
  position: relative;
}

.portfolio-item__navigation {
  padding: 0;
  margin: 1em 0;
}

.portfolio-item__navigation-list-item {
  display: inline-block;
  margin: -1em;
  padding: 0;
}

.portfolio-item__title {
  font-size: 3rem;
  margin-top: 1.5em;
}

.portfolio-item__sub-heading {
  font-size: 1.3rem;
  color: var(--faded-primary-color);
}

.portfolio-item__desc {
  color: var(--faded-primary-color);
}

.portfolio-item__view-more-list {
  position: absolute;
  bottom: 2%;
  left: 0;
  padding: 0;
  margin-left: 1em;
}

.portfolio-item__view-more-list-item {
  display: block;
  margin: 4em 0 0.5em 0;
}

.portfolio-item__view-more-list-item--github {
  margin-top: 2em;
  display: block;
}

.portfolio-item__github-link {
  font-weight: 700;
  color: var(--faded-primary-color);
  margin-left: 0.5em;
}

.portfolio-item__github-link:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
  .portfolio-items__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .portfolio-item__title {
    font-size: 2rem;
  }

  .portfolio-item__description-container {
    width: 90%;
    padding-left: 0;
  }
}
