@import "variables.css";

.portfolio-items-wrapper {
  height: 100vh;
}

.portfolio-item-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.portfolio-item-icon-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.portfolio-item-icon-container--green {
  background: var(--portfolio-item-green);
}

.portfolio-item-icon-container--blue {
  background: var(--portfolio-item-blue);
}

.portfolio-item-icon-container--purple {
  background: var(--portfolio-item-purple);
}

.portfolio-item-icon {
  font-size: 20em;
  opacity: 0.5;
}

.portfolio-item-description-container {
  width: 65%;
  padding-left: 1em;
}

.portfolio-item-title {
  font-size: 3rem;
}

.portfolio-item-sub-heading {
  font-size: 1.3rem;
  color: var(--faded-primary-color);
}

.portfolio-item-desc {
  color: var(--faded-primary-color);
}

.portfolio-item-navigation {
  margin: 0;
  padding: 0;
  grid-row: 1;
}

.portfolio-item-navigation li {
  display: inline-block;
  margin: -1em;
  padding: 0;
}

.portfolio-item-links-list {
  margin: 2em 0 0 0;
  padding: 0;
}

.portfolio-item-links-list-item {
  display: block;
  margin: 4em 0 0.5em 0;
}

.portfolio-item-links-list-item--github {
  margin-top: 2em;
  display: block;
}

.portfolio-item-github-link {
  font-weight: 700;
  color: var(--faded-primary-color);
  margin-left: 0.5em;
}

.portfolio-item-github-link:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
  .portfolio-item-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .portfolio-item-title {
    font-size: 2rem;
  }

  .portfolio-item-icon {
    font-size: 5em;
    opacity: 0.5;
  }

  .portfolio-item-description-container {
    width: 90%;
    padding-left: 0;
  }
}
